@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&display=swap');
*{
   margin: 0; 
}

*::selection{
    background: #f39a0b;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  font-family: 'Raleway', sans-serif;
}
header{
    background: #fafafa;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    position: fixed;
    width: 100%;
    top: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 10;
}

header img{
    height: 60px;
    padding: 10px;
    object-fit: cover;
}

header nav ul{
    display: flex;
    flex-direction: row;
    height: 100%;
    align-items: center;
    padding-right: 50px;
}

ul li{
    list-style: none;
    padding: 10px;
}

ul li:hover{
    transform: scale(1.5) rotate(360deg);
    transition: all 0.5s ease-in-out;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: red;
}

main{
    padding-top: 80px ;
    flex: 1;
    background-color: black ;
}

h1, h2, h3, h4, h5, h6{
    color:#fafafa;
    font-family: 'Roboto Slab', serif;
}

h1{
    font-size: 4rem;
}

footer{
    padding: 20px;
}

h1::after{
    content: " *";
    color: red;
}

h1:hover{
    color:sandybrown;
}

.hero{
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10rem;
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
    /* background by SVGBackgrounds.com */
}

.hero-content{
    margin-right: 5rem;
}

@keyframes bounce {
    from{
        transform: translateY(-50px);
    }
    to {
        transform: translateY(50px);
    }
}


.hero-image{
    border-radius: 20px;
    border: #111827 2px solid;
    animation: 3s infinite alternate bounce;
}

.button{
    min-width: 30px;
    max-width: 200px;
    font-family: 'Roboto Slab', serif;
    color: white;
    background-color: #991818;
    padding: 12px;
    font-size: 20px;
    border-radius: 20px;
    border: none;
    border: #111827 2px solid;

}

@keyframes shake {
    from{
        transform: translateX(-5px);
    }
    5%{
        transform: translateX(5px);
    }
    10%{
        transform: translateX(-5px);
    }
    15%{
        transform: translateX(5px);
    }
    20%{
        transform: translateX(-5px);
    }
    to{
        transform: translateX(5px);
    }
}



.buy-button{
    position: fixed;
    right: 32px;
    bottom: 32px;
    animation: shake 3s infinite alternate;
}


.suggerences-button{
    position: fixed;
    right: 32px;
    bottom: 120px;
}

.catalogue-container{
    background-color: white;
    height: 100vh;
    padding: 10rem;
}

.catalogue-title{
    font-size: 4rem;
    color: #111827;
    padding-bottom: 2rem;

}

.catalogue-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.card{
    width: 25%;
    border: #e5e7eb 2px solid;
    border-radius: 10px;
    overflow: hidden;
    height: 270px;
    margin: 1rem;

}

.card img{
    object-fit: contain;
}

.contact-container{
    min-height: 20vh;
    background-color: #991818;
    padding: 10rem;
}

.contact-container form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    margin-bottom: 8px;
    height: 40px;
    border: #111827 2px solid;
    margin-bottom: 8px;
    font-size: 20px;
    padding: 5px;

}

.contact-container input:focus, textarea:focus{
    border: #111827 4px solid;
    outline: none;
}
